COPYING
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing


Makefile
config.h
config.log
config.status
kit
*.o
stamp-h1
.deps
html/
latex/
ylwrap
forth.c

*.db
vgcore.*
